:root {
  --off-white: #F7F5E6;
  --dark-blue: #333A56;
  --blue:      #52658F;
  --white:     #E8E8E8;
}

*{
  box-sizing: border-box;
}

body {
  background-color: var(--blue);
  color: var(--off-white);
  font-family: 'Roboto',sans-serif;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

form button, form input, form textarea {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--dark-blue);
  border-radius: 0.5rem;
}

#button {
  grid-column: 2;
  width: 50%;
  justify-self: end;
}
