/*
#F7F5E6
#333A56
#52658F
#E8E8E8
*/

:root {
  --off-white: #F7F5E6;
  --dark-blue: #333A56;
  --blue:      #52658F;
  --white:     #E8E8E8;
}

body {
  display: grid;
  font-family: sans-serif;
  background: var(--off-white);
  padding: 0;
  margin: 0;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 2rem;
  overflow-x: hidden;
}

header h1 {
  color: white;
  z-index: 2;
  grid-row: 2;
  grid-column: span 3;
  text-align: center;
  padding: 3rem;
}

header {
  position: relative;
  display: grid;
  background-color: var(--blue);
  width: 100vw;
  padding: 0;
  margin: 0;
  grid-column: 1/4;
  overflow: hidden;
}

#home {
  height: 90vh;
  grid-template-rows: 4fr 5fr 5fr;
}

#not-home {
  height: 20vh;
  grid-template-rows: 1fr;
}

nav ul {
  display: grid;
  list-style: none;
  text-align: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  padding: 0;
  margin: 0.5rem;
}

#not-home-ul {
  margin: 5rem auto;
  width: 60vw;
}

li {
  display: inline;
  padding: 0;
  z-index: 1;
}

a {
  text-decoration: none;
  color: black;
  padding: 1rem 2rem;
  color: var(--white);
  border-style: solid;
  border-width: 2px;
  border-color: var(--off-white);
  padding: 0.5rem 2rem;
}

nav {
  display: grid;
  height: 2rem;
  padding: 0.5rem;
  margin: auto;
  grid-row: 1;
  grid-column: 1/4;
}

.nav_underlay {
  background: var(--dark-blue);
  grid-row: 1;
  grid-column: 1/4;
  z-index: 0;
  opacity: 0.8;
}

a:hover {
  opacity: 0.4;
}

.video_wrap {
  position: absolute;
  top: 0;
  left: 0;
}

.video_wrap video{
  opacity: 0.4;
  min-width: 100%;
}

section {
    color: var(--dark-blue);
    padding: 1em;
    margin: 1em;
    margin-right: 6rem;
    text-align: left;
    grid-row: 2 / span 1;
    grid-column: span 1;
    /*border-color: black;
    border-width: medium;
    border-style: solid;*/
}


section img {
  width: 100%;
}

.crop {

  min-height: 150px;
  min-width: 300px;
  overflow: hidden;

  margin: auto;
}

.one img{
  margin: -2rem 0;
}

.two img{
  margin: -3rem 0;
}
footer{
  height: 5rem;
  background-color: var(--blue);
  width: 100vw;
  color: var(--off-white);
  padding-left: 2rem;
  grid-row: 3/span 1;
}

@media(max-width: 921px){

  body {
    grid-template-rows: 2fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
  }

  section {
      grid-row: span 1;
      grid-column: span 3;
  }

  nav ul {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2rem 4rem;
  }

  #home-ul {
        margin: -2rem -5rem;
  }

  #not-home-ul{
    margin:5rem auto;
  }


  #not-home {
    height: 20vh;
    grid-template-rows: 1fr;
  }

  footer {
    grid-row: bottom;
  }

}
