:root {
  --off-white: #F7F5E6;
  --dark-blue: #333A56;
  --blue:      #52658F;
  --white:     #E8E8E8;
}

*{
  box-sizing: border-box;
  font-size: 1rem;
  padding: 0;
  margin: 0;
  transition: 0.5s;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr;
  background-color: var(--off-white);
  color: var(--dark-blue);
  font-family: 'Roboto',sans-serif;
  height: 100vh;
  overflow-x: hidden;
}



/*---------------------------------------------------------------*/




/*----------------------HEADER---------------------------------  */


.main-header {
  display: grid;
  grid-column: span 3;
  grid-template-rows: auto;
  height: 100vh;
  min-height: 787px;
  box-shadow: -1px -1px 31px -4px rgba(0,0,0,0.75);
  background-image:url('../img/islander_orig.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.non-main-header {
  display: grid;
  grid-column: span 3;
  grid-template-rows: auto;
  background-color: var(--blue);
}

.main-nav {
  grid-row: 1;
  grid-column: 1;
  display: grid;
  justify-content: center;
  background-color: var(--dark-blue);
}

#log-out {
  display: none;
  grid-row: 1;
  grid-column: 1;
  z-index: 1;
  justify-self: right;
  margin: 1rem;
  text-decoration: none;
  color: var(--white);
}

.main-ul {
  display: grid;
  list-style: none;
  text-align: center;
  grid-template-columns:repeat(6, 1fr);
  grid-gap: 2rem;
  padding: 0;
  margin: 0.5rem;
  justify-content: center;
  max-height: 100%;
}

.main-li {
  display: grid;
  align-self: center;
  justify-self: center;
}

.main-a {
  text-decoration: none;
  color: var(--white);
}

.current {
  color: grey;
}

.main-a:hover {
  color: var(--blue);
}

.li-logo {
  grid-column: span 2;
  padding-top: 1.5rem;
}

.main-logo {
  width: 9rem;
}

.video-wrap {
  display: grid;
  overflow: hidden;
  grid-row: 2;
  grid-column: 1;
}

.main-video {
  justify-self: center;
  min-width: 100%;
}

.reviews-container {
  display: grid;
  z-index: 4;
  height: 100%;
  grid-template-columns: repeat(3,1fr);
  overflow-x: scroll;
  margin: 2rem;
}

.reviews {
  display: grid;
  background-color: var(--white);
  grid-template-columns: 3rem auto;
  border-radius: 0.5rem;
  align-items: center;
  margin: 2rem;
  margin-left: 0;
  padding: 1rem;
  grid-gap: 0.5rem;
  min-width: 20rem;
  overflow: hidden;
}



.reviews img {
  height: 2.5rem;
  grid-column: 1;
  grid-row: 1;
}

.reviews h2 {
}

.reviews p:after {
    content:"";
    position:absolute;
    top: 0;
    left:0;
    height: 100%;
    width:100%;
    background: linear-gradient(rgba(0,0,0,0), var(--white));
}

.reviews p {
  position: relative;
  grid-column: span 2;
  overflow: hidden;
  max-height: 8rem;
  height: 100%;
  vertical-align: text-top;
}
/*---------------------------------------------------------------*/



/* ----------------------FORMS--------------------------------- */


.login-a {
  text-decoration: none;
  color: var(--dark-blue);
  text-align: center;
  grid-column: span 1;
  font-size: 0.9rem;
  align-self: center;
  grid-row: span 1;
}

.login-a:hover {
  color: var(--blue);
}

.login-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  background-color: var(--white);
  padding: 1rem;
  margin: 0rem 1rem;
  border-radius: 0.5rem;
  max-width: 35rem;
  justify-self: center;
  align-self: center;
  grid-row: 2;
  grid-column: 1;
  z-index: 1;
}

#reset-form {
  display: grid;
}

.message {
  display: none;
  grid-template-rows: 1fr 1fr;
  background-color: var(--off-white);
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 35rem;
  justify-self: center;
  align-self: center;
  color: var(--dark-blue);
}

.login-input {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--off-white);
  border-radius: 0.5rem;
}

.login-button {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  grid-column: span 2;
  grid-row: span 1;
  width: 100%;
  justify-self: end;
  transition: color, border-radius;
  transition-duration: 0.25s;
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 0.5rem;
  min-height: 2.5rem;
}

#search {
  grid-column: span 1;
}

.login-button:hover {
  color: grey;
}

.form-select {
  background-color: white;
  border-color: var(--off-white);
}

#register-form, #booking-form, #lost-form {
  display: none;
}

.error-overlay {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  transition: opacity;
  transition-duration: 0.5s;
}

.error-message {
  color: white;
  background-color: rgba(1,1,1,0.8);
  padding: 4rem;
  justify-self: center;
  align-self: center;
  margin-top: -40vh;
  z-index: 1;
}

.row-span-3 {
  grid-row: span 3;
}

.wide {
  grid-column: span 2;
}

.narrow {
  grid-column: span 1;
}

.tall {
  grid-template-rows: repeat(1fr, 5);
}

.taller {
  grid-template-rows: repeat(1fr, 6);
}

.invisible {
  display: none;
}

.blue {
  background-color: var(--dark-blue);
}

.width-2 {
  grid-template-columns: 1fr 1fr;
}
/*-------------------------------------------------------------*/




/*----------------------BOXES---------------------------------*/

.main-box {
  display: grid;
  margin: 1rem;
  padding: 1rem;
  grid-gap: 1rem;
  border-radius: 0.5rem;
  box-shadow: -1px -1px 31px -4px rgba(0,0,0,0.75);
  grid-template-columns: 1fr;
  background-color: var(--white);
  transition: .5s;
  grid-column: span 1;
}

.main-box img {
  max-width: 100%;
  margin-bottom: 1rem;
}

.main-box a {
  text-decoration: none;
  color: var(--dark-blue);
  padding: 0.5rem 1rem;
  margin: 1rem;
  justify-self: center;
}

.main-box a:hover {
  color: lightgrey;
  cursor: pointer;
}

.main-box h2 {
  font-size: 2rem;
  font-weight: bold;
}


.title-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0.5rem;
}

.title-container img{
  height: 2rem;
  margin-top: 0.25rem;
}

.title-container #sea-icon {
  margin-top: 0;
}

.account-info {
  display: grid;
  grid-gap: 0.5rem;
}

.account-info input{
  max-height: 2.5rem;
}



/*---------------------------------------------------------------*/



/* ----------------------FOOTER--------------------------------- */


footer {
  display: grid;
  grid-column: span 3;
  width: 100%;
  background-color: var(--dark-blue);
  color: var(--off-white);
}

footer p {
  margin: 3rem;
}

/*------------------------------------------------------------ */



/*----------------------BOOKINGS--------------------------------- */

#bookings {
  grid-column: span 3;
  display: grid;
}

.booking {
  border-radius: 0.5rem;
  box-shadow: -1px -1px 31px -4px rgba(0,0,0,0.75);

  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1rem;
  max-width: 30rem;
  height: 9rem;
  justify-self: center;

  background-color: var(--white);
  overflow: hidden;
}

.booking .content {
  margin-left: 0.5rem;
  margin-top: 0.25rem;
}

.booking .boat {
  font-size: 1.5rem;
  font-weight: bold;
}

.booking-number {
  grid-column: span 2;
  background-color: var(--blue);
  color: var(--off-white);
  padding: 0.25rem;
}

.info {
  font-size: 0.75rem;
}
/* ------------------------------------------------------------------ */





/* ----------------------CONTACT US --------------------------------- */


#map {
  min-height: 20rem;
}

.comment-area {
  grid-column: span 2;
  grid-row: span 2;
  border-radius: 0.5rem;
  border-style: none;
  padding: 1rem;
}








/*---------------------------------------------------------------*/


@media(max-width: 700px) {

  .main-ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .li-logo {
    grid-column: span 2;
  }

  .main-box {
    grid-column: span 3;
  }

  .span-3 {
    grid-column: span 3;
  }

  .reviews-container {

  }

}



/*-------------------------------Gallery---------------------*/

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  height: auto;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: white;

  -moz-border-radius: 30px; /* or 50% */
  border-radius: 30px; /* or 50% */

  background-color: rgba(0, 0, 0, 0.2);


  font-size: 12px;
  font-weight: bold;
  padding: 8px 12px;
  position: absolute;
  top: 0.5vh;
  left: 0.5vw;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


.vertical-center {
  display: flex;
  align-items: center;
}
