:root {
  --off-white: #F7F5E6;
  --dark-blue: #333A56;
  --blue:      #52658F;
  --white:     #E8E8E8;
}

*{
  box-sizing: border-box;
  font-size: 1rem;
}

body {
  display: grid;
  grid-template-rows: 1fr;
  background-color: var(--blue);
  color: var(--off-white);
  font-family: 'Roboto',sans-serif;
  height: 100vh;
}

.login-a {
  text-decoration: none;
  color: var(--dark-blue);
  text-align: center;
  grid-column: span 1;
  font-size: 0.9rem;
  align-self: center;
  grid-row: span 1;
}

.login-a:hover {
  color: var(--blue);
}



.login-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 1rem;
  background-color: var(--off-white);
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 35rem;
  justify-self: center;
  align-self: center;
}

#reset-form {
  display: grid;
}

.message {
  display: none;
  grid-template-rows: 1fr 1fr;
  background-color: var(--off-white);
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 35rem;
  justify-self: center;
  align-self: center;
  color: var(--dark-blue);
}

.login-input {
  box-sizing: border-box;
  width: 100%;
  padding: 1rem;
  border: 1px solid var(--off-white);
  border-radius: 0.5rem;
}

.login-button {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  grid-column: span 2;
  grid-row: span 1;
  width: 100%;
  justify-self: end;
  transition: color, border-radius;
  transition-duration: 0.25s;
  background-color: var(--dark-blue);
  color: var(--white);
  border-radius: 0.5rem;
}

#search {
  grid-column: span 1;
}

.login-button:hover {
  color: grey;
}

.form-select {
  background-color: white;
  border-color: var(--off-white);
}

#register-form, #booking-form, #lost-form {
  display: none;
}

.error-overlay {
  display: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  transition: opacity;
  transition-duration: 0.5s;
}

.error-message {
  background-color: rgba(1,1,1,0.5);
  padding: 4rem;
  justify-self: center;
  align-self: center;
  margin-top: -40vh;
}

.wide {
  grid-column: span 2;
}

.narrow {
  grid-column: span 1;
}

.tall {
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.invisible {
  display: none;
}
